{% extends 'base-portfolio.html' %}

{% load static %}

{% block content %}
        <!-- news section -->
        <section class="news">
            <div class="container">
                <div class="section_content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="news_individual">
                                <img src="{{portfolio.imageURL}}" alt="">
                                <p class="news_date"> <span>{{portfolio.author}}</span>/ 22 МАЙ, 2021 </p>
                                <h2 class="news_title">{{portfolio.title}}</h2>
                                <p>
                                    {{portfolio.body}}
                                </p>
                               
                                <a href="{% url 'portfolio:main-portfolio' %}" class="active-btn mt-3"><span>Вернуться к списку новостей</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<a href="{% url 'portfolio:update-portfolio' portfolio.id%}">+Update</a>/
<a href="{% url 'portfolio:delete-portfolio' portfolio.id %}">+ Delete</a>
{% endblock content %}
